In [1]:
import pandas as pd

In [5]:
points = pd.read_csv('points.csv')
points

             lat        lon
0     122.941543 -41.448919
1     105.002002 -35.289642
2     164.005733 -16.963333
3       7.010945  37.105396
4     141.269587  46.860142
...          ...        ...
9995   16.676091 -21.783110
9996   67.893274  75.767520
9997   40.440323 -39.378883
9998  134.556077   1.965639
9999   71.621235  81.288533

[10000 rows x 2 columns]